<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;" data-theme="defdo_dark">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · by defdo">
      <%= assigns[:page_title] || "DaisyUi" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <main class="container m-auto">
      <%= @inner_content %>
    </main>
  </body>
</html>
